*{
    margin: 0;
    padding: 0;
}
.vosk{
    margin-left: 300px;
    border: 1px solid gray;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
   height: 100vh;   
    width: 800px;
    height: 300px;
    text-align: center;
    background-image: "https://www.ucom.am/storage/files/image-5-_x358-quality(75)-webp(80).png?token=9e55fd48d20e54f5a40a14823480a418";
}
.vosk2{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    gap: 20px;
}
.svoy{
    display: flex;
    justify-content: space-between;
}
#krr{
    border-bottom: 2px solid #7CE00B;
}
#roum{
    color: gray;
    display: block;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ip{
    border: 1px solid grey;
    width: 500px;
    height: 43px;
}
#fa-fa{
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 10px;
    color: black;
    background-color: #7CE00B;
    height: 25px;
    width: 80px;
}
#fa-fa:hover{
    transform: scale(1);
    background-color: greenyellow;
}
h5{
    color: grey;
}
.uxt{
    display: flex;
    justify-content: space-between;
}
#pato{
    transition: all 0.3s ease;
    color: grey;
}
#pato:hover{
    transform: scale(1);
    color: black;
}
#pato2{
    transition: all 0.3s ease;
    color: grey;
}
#pato2:hover{
     transform: scale(1);
    color: black;
}
#pato3{
    transition: all 0.3s ease;
    color: grey;
}
#pato3:hover{
     transform: scale(1);
    color: black;
}
#pato4{
    transition: all 0.3s ease;
    color: grey;
}
#pato4:hover{
     transform: scale(1);
    color: black;
}
#pato5{
    transition: all 0.3s ease;
    color: grey;
}
#pato5:hover{
     transform: scale(1);
    color: black;
}
.alil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
#ziro1{
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 10px;
    border: 1px solid #7CE00B;
    height: 20px;
    width: 80px;
}
#ziro1:hover{
    transform: scale(1);
    background-color: greenyellow;
}
#ziro2{
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 10px;
    border: 1px solid #7CE00B;
    height: 20px;
    width: 80px;
}
#ziro2:hover{
    transform: scale(1);
    background-color: greenyellow;
}
#ziro3{
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 10px;
    border: 1px solid #7CE00B;
    height: 20px;
    width: 80px;
}
#ziro3:hover{
    transform: scale(1);
    background-color: greenyellow;
}