*{
    margin: 0;
    padding: 0;
}
.div1{
      display: flex;
    white-space: nowrap;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}
#img1{
    width: 100px;
    height: 100px;
}
#kns{
    color: gray;
}
.div2{
      display: flex;
    white-space: nowrap;
    white-space: pre;
    word-spacing: 1px;
    gap: 5px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
#p1{
     transition: all 0.3s ease;
}
#p1:hover{
    transform: scale(1.1);
     background-color: rgb(220, 241, 209);
     width: 110px;
     height: 30px;
     border-radius: 5px;
     text-align: center;
}
#pteg{
    transition: all 0.3s ease;
}
#pteg:hover{
     transform: scale(1.1);
     background-color: rgb(220, 241, 209);
     width: 110px;
     height: 30px;
     border-radius: 5px;
     text-align: center;
}
#p2{
    transition: all 0.3s ease;
}
#p2:hover{
      transform: scale(1.1);
     background-color: rgb(220, 241, 209);
     width: 110px;
     height: 30px;
     border-radius: 5px;
     text-align: center;
}
#p3{
    transition: all 0.3s ease;
}
#p3:hover{
      transform: scale(1.1);
     background-color: rgb(220, 241, 209);
     width: 110px;
     height: 30px;
     border-radius: 5px;
     text-align: center;
}
#p4{
    transition: all 0.3s ease;
}
#p4:hover{
      transform: scale(1.1);
     background-color: rgb(220, 241, 209);
     width: 110px;
     height: 30px;
     border-radius: 5px;
     text-align: center;
}
i{
    color: grey;
}
#pt{
     font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
#pv{
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(180, 242, 147); 
      width: 110px;
     height: 30px;
     border-radius: 5px;
     text-align: center;
     transition: all 0.3s ease;
}
#pv:hover{
    transform: scale(1);
    border: 1px solid rgb(134, 248, 73);
}
#img2{
    display: block;
  margin: 0 auto;
    height: 550px;
    width: 1400px;
    border-radius: 20px;
}
#is1{
    transition: all 0.3s ease;
    height: 400px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 20px;
}
#is1:hover{
    transform: scale(1.1);
}
#is2{
    transition: all 0.3s ease;
     height: 400px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 20px;
}
#is2:hover{
    transform: scale(1.1);
}
#is3{
     transition: all 0.3s ease;
     height: 400px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 20px; 
}
#is3:hover{
    transform: scale(1.1);
}
#is4{
    transition: all 0.3s ease;
     height: 400px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 20px;
}
#is4:hover{
    transform: scale(1.1);
}   
#is5{
    transition: all 0.3s ease;
     height: 400px;
    width: 300px;  
    border: 1px solid gray;
    border-radius: 20px;
}
#is5:hover{
    transform: scale(1.1);
}
.dvushik{
    word-spacing: 10px;
     display: block;
  margin: 0 auto;
}
#pr{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
#pto{
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: #71c313;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    border-bottom: 20px;
    font-size: large;
}
.divik{
    border: 1px solid gray;
    width: 300px;
    height: 450px;
    border-radius: 10px;
}
.divik2{
    display: block;
    margin: 0 auto;
}
#im{
    height: 30px;
    width: 30px;
}
#im2{
    height: 30px;
    width: 30px;
}
#im3{
    height: 30px;
    width: 30px;
}
#im4{
    height: 30px;
    width: 30px;
}
#ig1{
    height: 30px;
    width: 30px;
}
#ig2{
    height: 30px;
    width: 30px;
}
#ig3{
    height: 30px;
    width: 30px;
}
#ig4{
    height: 30px;
    width: 30px;
}
#a{
    color: rgb(89, 222, 62);
}
#ff{
    height: 50px;
    width: 50px;
}
#ptego{
    word-spacing: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#dvo{
    transition: all 0.3s ease;
    background-color: #7CE00B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
#dvo:hover{
    transform: scale(1);
    background-color: greenyellow;
}
#pto2{
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: #71c313;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    border-bottom: 20px;
    font-size: large;
}

.cros2{
    display: block;
    margin-top: -20px;    
   margin: 0 auto;
   border: 1px solid grey;
    width: 300px;
    height: 450px;
    border-radius: 10px;

}
#imgh{
    height: 30px;
    width: 30px;
}
#imgh2{
    height: 30px;
    width: 30px;
}
#imgh3{
    height: 30px;
    width: 30px;
}
#imgh4{
    height: 30px;
    width: 30px;
}
#ptvo{
    color: #7CE00B;
}
#ff2{
     height: 70px;
    width: 70px;
}
#ptego2{
    word-spacing: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#dvo3{
    transition: all 0.3s ease;
    background-color: #7CE00B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
#dvo3:hover{
    transform: scale(1);
    background-color: greenyellow;
}
#dvo2{
    transition: all 0.3s ease;
    background-color: #7CE00B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
#dvo2:hover{
    transform: scale(1);
    background-color: greenyellow;
}
.amboxj{
    display: flex;
    gap: 100px;
}
#imt{
    height: 30px;
    width: 30px;
}
#imt2{
    height: 30px;
    width: 30px;
}
#imt3{
    height: 30px;
    width: 30px;
}
#imt4{
    height: 30px;
    width: 30px;
}
#ptvo2{
    color: #7CE00B;
}
#imgik{
     height: 20px;
    width: 2    0px;
}
#pto4{  
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: #71c313;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    border-bottom: 20px;
    font-size: large;
}
.dvolo{
    border: 1px solid grey;
    width: 300px;
    height: 450px;
    border-radius: 10px;
}
#ff3{
     height: 70px;
    width: 70px;
}
#H{
     font-weight: bold;
}
#pto5{
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: #71c313;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    border-bottom: 20px;
    font-size: large;
}
#klto{
    height: 20px;
    width: 20px;
}
#ff4{
     height: 50px;
    width: 50px;
}
.Hayk{
     border: 1px solid grey;
    width: 300px;
    height: 450px;
    border-radius: 10px;
}
#hv{
    font-size: 28px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}
#cro{
    font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cro2{
    font-weight: bold;
    font-size: 20px;
}
.hov{
    transition: all 0.6s ease;
    border: 1px solid gray;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    padding: 10px   ;
}
.hov:hover{
    transform: scale(0.9);
}
.hov2{
    transition: all 0.6s ease;
    border: 1px solid gray;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}
.hov2:hover{
    transform: scale(0.9);
}
.hov3{
    transition: all 0.6s ease;
    border: 1px solid gray;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}
.hov3:hover{
    transform: scale(0.9);
}
#crov{
    font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#crov2{
    font-weight: bold;
    font-size: 20px;
}
.all{
    display: flex;
    gap: 150px;
}
#crol{
    font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#crol2{
    font-weight: bold;
    font-size: 20px;
}
#pch{
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.new{
    background-color: rgb(245, 251, 245);
    border-radius: 20px;
    padding: 20px;
    width: 1400px;
    height: 250px;
}
#id{
    color: gray;
    font-size: 16px;
}
#fg{
    padding: 10px;
    color: black;
}
#fg2{
    display: block;
    color: black;
}
#mi{
    transition: 0.3s ease;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: #71c313;
    height: 20px;
    width: 80px;
}
#mi:hover{
    transform: scale(1);
    background-color: greenyellow;
}
#sa{
    color: #71c313;
}
#sa2{
    color: #71c313;
}
#sa3{
    color: #71c313;
}
#sa4{
    color: #71c313;
}
#ha{
    color: #71c313;
}
#ha2{
    color: #71c313;
}
#ha3{
    color: #71c313;
}
#a{
    color: #71c313;
}
#a2{
    color: #71c313;
}
#a3{
    color: #71c313;
}
#k2{
    color: #71c313;
}
#k1{
    color: #71c313;
}
.d{
    display: flex;
}
#i{
    padding: 10px;
}
.image{
    height: 277px;
    width: 475px;
    border-radius: 20px;
}
.nyuton{
    padding: 20px;
    display: flex;
}
#vf{
    color: grey;
    font-size: 15px;
}
.arv{
    padding: 10px;
    display: block;
}
#manr{
    transition: 0.3s ease;
    font-weight: bold;
    background-color: #7CE00B;
    height:20px;
    width: 100px;
    font-family: serif;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
#manr:hover{
    transform: scale(1);
    background-color: greenyellow;
}
#csk{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.cls{
    padding: 15px;
}
#hke{
    color: grey;
    padding: 5px;
}
#her{
    transition: 0.3s ease;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#her:hover{
    transform: scale(1);
    color: black;
}
.spot{
    display: flex;
    gap: 20px;
}
span{
    background-color: rgb(208, 208, 208);
}
input{
    height: 40px;
    width: 310px;
    border-radius: 10px;
}
#w{
    transition: 0.3s ease;
    border: 1px solid #71c313;
    height: 10px;
    width: 120px;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding: 16px;
}
#w:hover{
    transform: scale(1);
    background-color: #e6fcc2;
}
#visa{
    padding: 20px;
    height: 40px;
    width: 116px;
}
#ID{
    transition: 0.3s ease;
     font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ID:hover{
    transform: scale(1);
    color: black;
}
.sui{
    display: flex;
    gap: 10px;
    color: grey;
}
#big{
    color: grey;
    font-size: 14px;
}
#mp3{
    width: 48px;
    height: 48px;
    border-radius: 2px;
}
#h1{
    font-family: Arial, Helvetica, sans-serif;
}
.gij{
    display: flex;
    gap: 400px;
}
#uplay{
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.u{
transition: 0.3s ease;
}
.u:hover{
    transform: scale(1);
    border: 1px solid rgb(223, 221, 221);
    height: 60px;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#mp31{
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
    #uplay2{
        font-size: 17px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
.lriv{
    display: flex;
    gap: 170px;
}
.hovo{
    transition: 0.3s ease;
}
.hovo:hover{
    transform: scale(1);
    border: 1px solid rgb(223, 221, 221);
    height: 60px;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#tozz{
     width: 48px;
    height: 48px;
    border-radius: 5px;
}
.tozzmedia{
   margin-top: 30px;
   transition: 0.3s ease;
}
.tozzmedia:hover{
    border: 1px solid rgb(223, 221, 221);
    height: 60px;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#uplay3{
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#tozz2{
     width: 48px;
    height: 48px;
    border-radius: 5px;
}
#uplay4{
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.tozzmedia2{
   margin-top: 30px;
   transition: 0.3s ease;
}
.tozzmedia2:hover{
    border: 1px solid rgb(223, 221, 221);
    height: 60px;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tz{
    display: flex;
    gap: 170px;
}
.vke{
    transition: 0.3s ease;
    border: 1px solid grey;
    width: 501px;
    height: 250px;
    border-radius: 10px;
}
.vke:hover{
    transform: scale(1);
    border: 1px solid #71c313;
}
#nor{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
#svo{
    color: grey;
    font-size: 15px;
}
#mar{
    height: 240px;
    width: 335px;
    margin-top: -50px;
    margin-left: 167px;
    border-bottom-right-radius: 10px;
}
.vke2{
    transition: 0.3s ease;
    border: 1px solid grey;
    width: 501px;
    height: 250px;
    border-radius: 10px;
}
.vke2:hover{
    transform: scale(1);
    border: 1px solid #71c313;
}
#svo2{
    color: grey;
    font-size: 15px;
}
#mar2{
    height: 150px;
    width: 300px;
    margin-top: 35px;
    margin-left: 170px;
}
.vard{
    display: flex;
    gap: 300px;
}
#klon{
    font-size: 38px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
#lorik{
    transition: 0.3s ease;
    height: 280px;
    width: 450px;
    border-radius: 8px;
}
#lorik:hover{
    transform: scale(1.02);
}
#lorik2{
    transition: 0.3s ease;
    height: 280px;
    width: 450px;
    border-radius: 8px;
}
#lorik2:hover{
    transform: scale(1.02);
}
#lorik3{
    transition: 0.3s ease;
    height: 280px;
    width: 450px;
    border-radius: 8px;
}
#lorik3:hover{
    transform: scale(1.02);
}
.ll{
    display: flex;
    gap: 50px;
}
.ape{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 370px;
}
.eee{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    gap: 320px;
    font-weight: bold;
}
h6{
    color: grey;
}
#cr{
    color: black;
    font-size: 15px;
}
#ha{
    color: black;
    font-size: 15px;
}
#ha2{
    color: black;
    font-size:   15px;
}
#ha3{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.src{
    padding: 20px;
}
.vsye{
    padding: 50px;
    display: flex;
    gap: 20px;
}
#grno{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
#qr{
    width: 60px;
    height: 60px;
}
#mko{
    transition: 0.3s ease;
    border-radius: 30px;
    height: 100px;
    width: 150px;
}
#mko:hover{
    transform: scale(1.1);
    color: grey;
}
#mko2{
    transition: 0.3s ease;
    border-radius: 30px;
    height: 100px;
    width: 150px;
}
#mko2:hover{
    transform: scale(1.1);
    color: grey;
}
.mkof{
    display: flex;
    gap: 10px;
}
.bolor{
    display: block;
}
.hko{
    display: flex;
    gap: 10px;
}
#br{
    font-family:"Montserrat", "Noto Sans Armenian", sans-serif;
    font-weight: 400;
}
#br2{
    font-family:"Montserrat", "Noto Sans Armenian", sans-serif;
    font-weight: 400;
}
#br3{
    font-family:"Montserrat", "Noto Sans Armenian", sans-serif;
   color: grey;
}
#br4{
    font-family:"Montserrat", "Noto Sans Armenian", sans-serif;
   color: grey;
}
#br5{
    font-family:"Montserrat", "Noto Sans Armenian", sans-serif;
   color: grey;
}
#br6{
    font-family: "Roboto", sans-serif;
}
#ii{
    transition: 0.3s ease;
    font-size: 20px;
}
#ii:hover{
transform: scale(1);
color: black;
}
#i2{
    transition: 0.3s ease;
    width: 20px;
    height: 20px;
    font-size:20px;
}
#i2:hover{
transform: scale(1);
color: black;
}
#ii2{
    transition: 0.3s ease;
    width: 20px;
    height: 20px;
    font-size:20px;
}
#ii2:hover{
transform: scale(1);
color: black;
}
#i3{
    transition: 0.3s ease;
    width: 20px;
    height: 20px;
    font-size:20px;
}
#i3:hover{
transform: scale(1);
color: black;
}
#i4{
    transition: 0.3s ease;
    width: 20px;
    height: 20px;
    font-size:20px;
}
#i4:hover{
transform: scale(1);
color: black;
}
#bhk{
    height: 24px;
    width: 29px;
}
.BBB{
    background-color: #fdfffb;
    padding: 50px   ;
    height: 40px;
    width: 1520px;
    display: flex;
}
.lox{
    display: flex;
}
#svr{
    color: grey;
}
#h{
    padding: 10px;
    font-family:"Montserrat", "Noto Sans Armenian", sans-serif;
}
#brbr{
    height: 20px;
    width: 150px;
}
#href{
    padding: 30px;
    transition: 0.3s ease;
    color: grey;
    font-size: 17px;
    font-family:"Montserrat", "Noto Sans Armenian", sans-serif;
}
#href:hover{
    transform: scale(1);
    color: black;
}
.lev{
    display: flex;
    gap: 970px;
}